body {
    font-family: Arial;
}

h1 {
    color: #ddd;
    font-style: italic;
}

.card {
    font-weight: bold;
    font-size: 28px;
    display: inline-block;
    border: solid 2px #aaa;
    border-radius: 8px;
    width: 64px;
    text-align: center;
    line-height: 96px;
    box-shadow: 5px 5px 20px 0px rgba(50, 50, 50, 0.4);
    color: #aaa;
    background: #eee;
    transition:
        color 0.3s,
        border-color 0.3s,
        background-color 0.3s;
    cursor: pointer;
    margin: 10px 15px;
}

.card.is-selected {
    color: #444;
    border-color: #000;
    background-color: #fff;
}

@media screen and (max-width: 600px) {
    .card {
        width: 40px;
        font-size: 16px;
        line-height: 56px;
        margin: 8px;
        box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.4);
    }
}

form {
    margin-top: 20px;
}

#deck {
    text-align: center;
    opacity: 0.3;
    transition: opacity 0.3s;
}

#deck.is-enabled {
    opacity: 1.0;
}

#restart {
    font-size: 28px;
    margin: 10px auto 0 auto;
    display: block;
}

.user {
    margin-right: 10px;
    background-color: #def;
    display: inline-block;
    border: solid 1px black;
    border-radius: 8px;
    padding: 0 10px 4px 4px;
}

.user .emo {
    margin-right: 10px;
}

.user:after {
    font-size: 36px;
    vertical-align: -3px;
    color: #58a;
}

.user:after {
    content: "✓";
    visibility: hidden;
}

.user.is-ready:after {
    visibility: visible;
}

.card-played {
    font-size: 24px;
    font-weight: bold;
    color: #58a;
    margin-left: 10px;
    vertical-align: -1px;
    margin-right: -32px;
}

@font-face {
    font-family: 'fontelico';
    src: url('fonts/fontelico.eot?7803838');
    src:
        url('fonts/fontelico.eot?7803838#iefix') format('embedded-opentype'),
        url('fonts/fontelico.woff?7803838') format('woff'),
        url('fonts/fontelico.ttf?7803838') format('truetype'),
        url('fonts/fontelico.svg?7803838#fontelico') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before {
    font-family: "fontelico";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-emo-happy:before { content: '\e800'; }
.icon-emo-wink:before { content: '\e801'; }
.icon-emo-wink2:before { content: '\e802'; }
.icon-emo-unhappy:before { content: '\e803'; }
.icon-emo-sleep:before { content: '\e804'; }
.icon-emo-devil:before { content: '\e805'; }
.icon-emo-surprised:before { content: '\e806'; }
.icon-emo-tongue:before { content: '\e807'; }
.icon-emo-sunglasses:before { content: '\e808'; }
.icon-emo-displeased:before { content: '\e809'; }
.icon-emo-grin:before { content: '\e80a'; }
.icon-emo-angry:before { content: '\e80b'; }
.icon-emo-saint:before { content: '\e80c'; }
.icon-emo-laugh:before { content: '\e80d'; }

.emo {
    display: inline-block;
    color: white;
    background: #58a;
    font-size: 20px;
    width: 32px;
    line-height: 32px;
    border-radius: 32px;
    text-align: center;
}

#emos {
    text-align: center;
}

#emos .emo {
    background: #888;
    margin: 4px 4px 0 4px;
    cursor: pointer;
    opacity: 0.75;
}

#emos .emo:hover {
    opacity: 1.0;
}

#emos .emo.is-selected {
    background: #58a;
    opacity: 1.0;
}
