.initialize {
  width: 361px;
  margin: 0 auto;

  @include respond-to('phone-only') {
    width: 100%;
  }

  .initialize__input {
    width: 100%;
    padding: 12px;
    font-size: 22px;
    border-radius: 3px;
    border: 1px solid lighten($dark-slate-gray, 50%);
    color: $teal-blue;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  .initialize__submit {
    @include button;
  }

}
