/**
Scheme
https://coolors.co/33658a-ff8832-2f4858-86bbd8-ffffff
*/
$teal-blue: #33658A;
$deep-saffron: #FF8832;
$dark-slate-gray: #2F4858;
$dark-sky-blue: #86BBD8;
$white: #FFFFFF;

$color-primary: $deep-saffron;
$color-secondary: $teal-blue;
$color-background: $dark-slate-gray;
$color-text: $white;

