.deck {
  margin: 20px -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    width: 80px;
    box-sizing: border-box;
    height: 120px;
    line-height: 120px;
    margin: 10px 5px;

    background-color: $teal-blue;
    border-radius: 3px;
    color: $white;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;

    &.is-selected {
      background-color: $color-primary;
    }
  }

}

.button__again {
  @include button;
  width: 540px;
  margin: 30px auto 0 auto;
  display: block;
}
