body {
  background: $color-background;

  @include respond-to('phone-only') {
    padding: 10px;
  }
}

.logo {
  font-size: 60px;
  color: $color-primary;
  text-align: center;
  padding: 0;
  margin: 20px 0 60px 0;

  @include respond-to('phone-only') {
    font-size: 50px;
    margin: 10px 0 30px 0;
  }
}

