@mixin respond-to($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}

@mixin button() {
  width: 100%;
  padding: 12px 8px;
  font-size: 22px;
  border-radius: 3px;
  border: 0;
  background-color: $color-primary;
  color: $white;
  cursor: pointer;
  box-sizing: border-box;
}
