.game {
  width: 540px;
  margin: 0 auto;
}

.userlist {
  display: flex;
  flex-wrap: wrap;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .user {
    padding: 8px 85px 8px 8px;
    margin: 5px;
    box-sizing: border-box;

    background-color: $teal-blue;
    color: $white;
    border-radius: 3px;
    position: relative;
    font-family: 'Roboto Slab', serif;

    .emo span {
      width: 24px;
      height: 24px;
      position: absolute;
      top: 7px;
      right: 5px;
    }

    .card-played {
      position: absolute;
      height: 37px;
      background-color: $color-primary;
      color: $white;
      font-family: 'Roboto Slab', serif;
      top: 0;
      right: 35px;
      padding: 7px 5px 0 5px;
      box-sizing: border-box;
    }
  }

}
